$blue: rgb(116, 135, 184);
$blue-border: rgb(41, 60, 110);
$blue-selected-row: rgb(113, 175, 255);

$orange-hover-row: rgb(250, 198, 150);

$white: rgb(245, 245, 245);
$white-opacity: rgba(245, 245, 245, 0.5);

$black-opacity-50: rgba(0, 0, 0, 0.5);
$black-opacity-65: rgba(0, 0, 0, 0.65);
$black-opacity-75: rgba(0, 0, 0, 0.75);

$green-button: #008000;

$red-button: #800000;
$red-error: #c20202;

$brown-button: #B8A474;
$brown-hover-button: #6B592E;