*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #7487B8;
    width: 1280px;
    height: 800px;
    border-radius: 2rem;
    opacity: 0.9;
    color: whitesmoke;
    font-size: 2rem;
    margin-top: 60px;
    box-shadow: 0 0 1rem black;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 90%;
    background-color: whitesmoke;
    padding: 30px;
    color: rgba(0, 0, 0, 0.466);
    border-radius: 2rem;
}

.header-banner{
    display: flex;
    padding: 30px;
    font-size: 1.5rem;
    text-align: center;
}

.central-column{
    display: block;
}

.central-column  label,
.central-column  select,
.central-column  input{
    display: block;
    width: 100%;
    padding-bottom: 10px;
    text-align: left;
}

.central-column select,
.central-column input{
    margin-bottom: 5px;
    font-size: 16px;
    padding: 2px;
    font-family: 'Montserrat', sans-serif;
}

.btn{
    padding: 15px 30px;
    margin: 20px;
    border-radius: 30px;
    background-color: #B8A474;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: 0;
    font-weight: bold;
}

.btn:hover{
    background-color: #6B592E;
    transition: .3s ease-in;
    transform: scale(1.1)
}

.barcode-area{
    border: 1px solid rgba(0, 0, 0, 0.467);   
}

.back{
    padding-top: 15px;
    text-decoration: none;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.466)
}

.back:hover{
    color: black;
    transition: .3s ease-in-out;
    text-decoration: underline;
    transform: scale(1.1)
}
